<div class="header">
    <nav
      class="nav navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top"
    >
      <a class="navbar-brand" routerLink="home"
        ><b style="color:#ffffff">CALCULATOR</b></a
      >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-items">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home" style="color:#ffffff"><b>Home</b></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about" style="color:#ffffff" box-sizing="border-box"><b>About Us</b></a>
          </li>
  
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/team" style="color:#ffffff"><b>Our Team</b></a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/contact" style="color:#ffffff"><b>Contact</b></a>
          </li>
          </ul>
      </div>
    </nav>
  </div>



<section class="faq-section">
    <div class="container">
        <div class="row">
            <!-- ***** FAQ Start ***** -->
            <div class="col-md-6 offset-md-3">

                <div class="faq-title text-center pb-3">
                    <h2 style="margin-top: 25px;">FAQ</h2>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="faq" id="accordion">
                    <div class="card">
                        <div class="card-header" id="faqHeading-1">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1"
                                    data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                    <span class="badge">1</span>What is a calculator?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>A calculator is a device or software that performs mathematical calculations. It can
                                    be used to solve complex mathematical problems, convert measurements, or perform
                                    basic arithmetic operations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-2">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                                    data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                    <span class="badge">2</span> What types of calculators are there?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>There are different types of calculators,in our Calculator application you can see
                                    InterestCalculator, CalorieCalculator, SalaryCalculator./p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-3">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3"
                                    data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                    <span class="badge">3</span>What is an InterestCalculator?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>An interest rate calculator is a tool that helps you calculate the amount of interest
                                    you will earn or pay on a loan or investment, based on the principal amount,
                                    interest rate, and the term of the loan or investment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-4">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4"
                                    data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                    <span class="badge">4</span> What information do I need to use an
                                    InterestCalculator?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>To use an interest rate calculator, you will need to know the principal amount, the
                                    interest rate, and the term of the loan or investment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-5">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5"
                                    data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                    <span class="badge">5</span> Can an InterestCalculator be used for all types of
                                    loans and investments?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p> Interest rate calculators can be used for most types of loans and investments, but
                                    there may be some exceptions. For example, some loans or investments may have
                                    variable interest rates or may have complex payment schedules that may require a
                                    more specialized calculator.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-6">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6"
                                    data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                    <span class="badge">6</span> What is a CalorieCalculator?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>A calorie calculator is a tool that helps you estimate the number of calories you
                                    burn or consume during physical activity or daily life, based on factors such as
                                    age, weight, height, and activity level.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-7">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7"
                                    data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                    <span class="badge">7</span> Can a calorie calculator help me lose weight?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>A calorie calculator can help you manage your weight by providing information about
                                    the number of calories you consume and burn. By maintaining a calorie deficit
                                    (burning more calories than you consume), you can lose weight over time.</p>
                            </div>
                        </div>
                    </div>
                <div class="card">
                    <div class="card-header" id="faqHeading-8">
                        <div class="mb-0">
                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8"
                                data-aria-expanded="false" data-aria-controls="faqCollapse-8">
                                <span class="badge">8</span> What is a SalaryCalculator?
                            </h5>
                        </div>
                    </div>
                    <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                        <div class="card-body">
                            <p>A salary calculator is a tool that helps you estimate your take-home pay or gross income
                                based on various factors such as your salary, deductions, taxes, and other financial
                                information.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="faqHeading-9">
                        <div class="mb-0">
                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-9"
                                data-aria-expanded="false" data-aria-controls="faqCollapse-9">
                                <span class="badge">9</span> What information do I need to use a SalaryCalculator?
                            </h5>
                        </div>
                    </div>
                    <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-9" data-parent="#accordion">
                        <div class="card-body">
                            <p>To use a salary calculator, you will need to know your salary , HRA , LTA , SA , your tax
                                filing status,
                                deductions, and other financial information.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="faqHeading-10">
                        <div class="mb-0">
                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-10"
                                data-aria-expanded="false" data-aria-controls="faqCollapse-10">
                                <span class="badge">10</span> Can a SalaryCalculator help me negotiate my salary?
                            </h5>
                        </div>
                    </div>
                    <div id="faqCollapse-10" class="collapse" aria-labelledby="faqHeading-10" data-parent="#accordion">
                        <div class="card-body">
                            <p>A salary calculator can give you an idea of what your take-home pay or gross income will
                                be at a certain salary level. This information can be useful when negotiating your
                                salary with an employer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<footer class="footer">
    <div class="row justify-content-end">
    <div class="col-6">
    <ul class="footer__nav">
      <li class="footer__item">
        <a class="footer__link" routerLink="/home">Home</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" routerLink="/about">About</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Privacy Policy</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" routerLink="/faq">Help</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    </div>
    <div class="col-6">
    <h6 style="color: aliceblue; margin-top:12px;">Subscribe to our newsletter</h6>
      <div class="input-group">
           <input type="email" class="form-control" placeholder="Enter your email">
           <span class="input-group-btn">
           <button class="btn" type="submit">Subscribe Now</button>
           </span>
     </div>
     </div>
     </div>
    <p class="footer__copyright">&copy; All rights reserved.</p>
  </footer>