  
nav {
    position: absolute;
    min-height: 2%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: black !important;
    font-family: 'Poppins','sans-serif';
  }
  
  .navbar-brand{
    margin-left: 70px;
    font-size: 30px;
  }
  .nav-items {
    right:100px;
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    font-size: 17px;
  }
  
  .user {
    border-bottom: none;
  }
  
  .nav-item:hover {
    background: orange;
  }
  
  .nav-link {
    padding: 1em !important;
  }
  
  a {
    cursor: pointer;
    color:#ffffff;
  }
  
  /* HEADER */
  
  .header {
    padding: 0 50px;
    width: 100%;
    border-bottom: 1px solid rgb(241, 241, 241);
  }



.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 800px;
  margin-left: -110px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
  border-radius:8px;
  box-shadow:0 0 40px -10px lightpink;
  padding:20px 30px;max-width:calc(100vw - 40px);
  box-sizing:border-box;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  /*float: left;*/
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #E91E63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}




.footer {
    padding-top: 10px;
    padding-left: 20px;
    background-color:black;
    width: 100%;
    position: absolute;
    bottom: -900px;
    left: 0;
  }
  
  .footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .footer__item {
    margin-right: 30px;
    margin-top: 30px;
  }
  
  .footer__link {
    font-size: 16px;
    color: #eee;
    text-decoration: none;
  }
  
  .footer__logo {
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  
  .footer__copyright {
    font-size: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  .footer__copyright .footer__link {
    font-size: 1.4rem;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .brand-logo {
    height: 80px;
    width: auto;
    text-align: center;
  }
  

  
.form-control {
  height: 30px;
  border-color: #ffffff;
  border-radius:0;
  }


.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
  height: 20px;
  }

  .input-group{
    width: 400px;
  }

.btn {
  min-height: 10px; 
  border-radius:0;
  background: #243c4f;
  color: #fff;
  font-weight:600;
  }