<div class="header">
  <nav class="nav navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" routerLink="home"><b style="color:#ffffff">CALCULATOR</b></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-items">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home" style="color:#ffffff"><b>Home</b></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about" style="color:#ffffff" box-sizing="border-box"><b>About Us</b></a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/team" style="color:#ffffff"><b>Our Team</b></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact" style="color:#ffffff"><b>Contact</b></a>
        </li>
      </ul>
    </div>
  </nav>
</div>




<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">Calorie Calculator</h3>
    </div>


    <div class="modal-body">
      <form [formGroup]="convertedRecord">
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <select name="gender" class="form-control" formControlName="gender" id="gender">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="height" class="form-label">Height in cm</label>
          <input type="number" name="height" class="form-control" formControlName="height" id="height"
            oninput="if(parseInt(this.value)<0){this.value='0';}">
        </div>

        <div class="mb-3">
          <label for="weight" class="form-label">Weight in kg</label>
          <input type="number" name="weight" class="form-control" formControlName="weight" id="weight"
            oninput="if(parseInt(this.value)<0){this.value='0';}">
        </div>

        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" name="age" class="form-control" formControlName="age" id="age"
            oninput="if(parseInt(this.value)>125){this.value='0';}">
        </div>

        <div class="mb-3">
          <label for="activityLevel" class="form-label">Activity Level</label>
          <select name="activityLevel" class="form-control" formControlName="activityLevel" id="activityLevel">
            <option value="SEDENTARY">Sedentary</option>
            <option value="LIGHTLY_ACTIVE">Lightly Active</option>
            <option value="MODERATELY_ACTIVE">Moderately Active</option>
            <option value="VERY_ACTIVE">Very Active</option>
            <option value="EXTREMELY_ACTIVE">Extra Active</option>
          </select>
        </div>

      </form>
     
      <div>
        <button type="button" (click)="calculateBmr()" class="btn btn-success">Calculate</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/home" class="btn btn-secondary"> Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button"  (click)="getHistory()" class="btn btn-primary" routerLink="/calorie-history">History</button>
      </div>

      <table>
        <tr>
          <td class="td">BMR : </td>
          <td>{{ convertedRecordResult.bmr }} calrories/day</td>
        </tr>

        <tr>
          <td class="td">Daily Calorie Needs :</td>
          <td>{{ convertedRecordResult.dailyCalorieNeeds }} calories/day</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="row justify-content-end">
    <div class="col-6">
      <ul class="footer__nav">
        <li class="footer__item">
          <a class="footer__link" routerLink="/home">Home</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" routerLink="/about">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" routerLink="/faq">Help</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h6 style="color: aliceblue; margin-top:12px;">Subscribe to our newsletter</h6>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Enter your email">
        <span class="input-group-btn">
          <button class="btn1" type="submit">Subscribe Now</button>
        </span>
      </div>
    </div>
  </div>
  <p class="footer__copyright">&copy; All rights reserved.</p>
</footer>