<div class="header">
    <nav
      class="nav navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top"
    >
      <a class="navbar-brand" routerLink="home"
        ><b style="color:#ffffff">CALCULATOR</b></a
      >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-items">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home" style="color:#ffffff"><b>Home</b></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about" style="color:#ffffff" box-sizing="border-box"><b>About Us</b></a>
          </li>
  
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/team" style="color:#ffffff"><b>Our Team</b></a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/contact" style="color:#ffffff"><b>Contact</b></a>
          </li>
          </ul>
      </div>
    </nav>
  </div>

  <div>
    <h2 style="color:balck !important;  margin-top:35px; text-align: center;">Meet Our Team</h2>
    </div>

<div class="container">
    <h2 style="color:balck !important; text-align: center;">Meet Our Team</h2>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/gom.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Gomathi S</h3>
            <h4 class="title">Associate Software Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/ruch.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Ruchitha P N</h3>
            <h4 class="title">Associate Software Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/shru.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Shrunga R</h3>
            <h4 class="title">Associate Software Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="row justify-content-end">
    <div class="col-6">
    <ul class="footer__nav">
      <li class="footer__item">
        <a class="footer__link" routerLink="/home">Home</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" routerLink="/about">About</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Privacy Policy</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" routerLink="/faq">Help</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    </div>
    <div class="col-6">
    <h6 style="color: aliceblue; margin-top:12px;">Subscribe to our newsletter</h6>
      <div class="input-group">
           <input type="email" class="form-control" placeholder="Enter your email">
           <span class="input-group-btn">
           <button class="btn" type="submit">Subscribe Now</button>
           </span>
     </div>
     </div>
     </div>
    <p class="footer__copyright">&copy; All rights reserved.</p>
  </footer>
  